@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SKYNET</h1>
</div>

<div class="row">
    <div>
        <h2>Quienes Somos</h2>
        <p>
            Somos una empresa dedicada a ofrecer Servicios Tecnicos y Profesionales
            en Consultarías de Informática, abarcando las áreas de Infraestructura, Soporte y
            Mantenimiento de Equipos. La empresa a la fecha ha tenido un crecimiento acelerado, 
            el cual le ha permitido ofrecer sus servicios en todos los departamentos del país; 
            este crecimiento ha ocasionado serios problemas para la adecuada Gestión de los Clientes.
        </p>
    </div>
</div>